@mixin button() {
  position: relative;
  transition: color 0.1s, background 0.1s, box-shadow 0.1s;
  user-select: none;
  &:active, &.active {
    color: white;
  }

  &:hover {
    cursor: pointer;
  }
}

@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin flex($direction: row, $main-align: center, $second-align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $main-align;
  align-items: $second-align;
}
