@import "~normalize.css";
@import "variables";
@import "controls";
@import "player-button";

@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/ProximaNova-Regular.otf);
  format: truetype;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
}

.player {
  font-family: Proxima Nova;
  font-size: 12px;
  position: relative;

  display: flex;
  align-items: center;
}
