@import "mixins";

.player__button {
  @include flex();
  margin: -40px;
  width: 115px;
  height: 115px;
  transition: box-shadow 0.2s, background 0.2s;

  background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #6D05D8;
  background-blend-mode: soft-light, normal;
  box-shadow: -2px -2px 5px #FFFFFF, 2px 2px 5px #A6ABBD;
  border-radius: 107.477px;
  color: #FFFFFF;

  .content {
    .text {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }



  }

  &:hover {
    //background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #9640ef;

    box-shadow: -2px -2px 5px #FFFFFF, 2px 2px 5px #b4b6bd,
      inset 0px 0px 8px #FFFFFF88;

  }
}
